registry=https://sirona.pkgs.visualstudio.com/_packaging/ServicesHub.UI/npm/registry/ 
always-auth=true

//sirona.pkgs.visualstudio.com/_packaging/ServicesHub.UI/npm/registry/:username=sirona
//sirona.pkgs.visualstudio.com/_packaging/ServicesHub.UI/npm/registry/:_password=[BASE64_ENCODED_PERSONAL_ACCESS_TOKEN]
//sirona.pkgs.visualstudio.com/_packaging/ServicesHub.UI/npm/registry/:email=npm requires email to be set but doesn't use the value
//sirona.pkgs.visualstudio.com/_packaging/ServicesHub.UI/npm/:username=sirona
//sirona.pkgs.visualstudio.com/_packaging/ServicesHub.UI/npm/:_password=[BASE64_ENCODED_PERSONAL_ACCESS_TOKEN]
//sirona.pkgs.visualstudio.com/_packaging/ServicesHub.UI/npm/:email=npm requires email to be set but doesn't use the value
