registry=https://sirona.pkgs.visualstudio.com/_packaging/ServicesHub.UI/npm/registry/ 
always-auth=true

//sirona.pkgs.visualstudio.com/_packaging/ServicesHub.UI/npm/registry/:username=sirona
//sirona.pkgs.visualstudio.com/_packaging/ServicesHub.UI/npm/registry/:_password=[ZzRmcGxzamJraWNkeXA1N3ZjdWVzeWI0Mm5xbTRob3Ftdnp0b3U3N3p0b3lwd3ZxdDU3cQ==]
//sirona.pkgs.visualstudio.com/_packaging/ServicesHub.UI/npm/registry/:email=npm requires email to be set but doesn't use the value
//sirona.pkgs.visualstudio.com/_packaging/ServicesHub.UI/npm/:username=sirona
//sirona.pkgs.visualstudio.com/_packaging/ServicesHub.UI/npm/:_password=[ZzRmcGxzamJraWNkeXA1N3ZjdWVzeWI0Mm5xbTRob3Ftdnp0b3U3N3p0b3lwd3ZxdDU3cQ==]
//sirona.pkgs.visualstudio.com/_packaging/ServicesHub.UI/npm/:email=npm requires email to be set but doesn't use the value
